.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    border: 40px solid #3c554d;
}

.box {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

p{
    font-size: 30px;
    font-weight: 300;
}
.button {
    margin: 100px 0 0 0;
}
